.card {
  padding: 20px;
  background-color: transparent;
  transition: transform .2s;
  width: 210px;
  height: 220px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  }

  .card:hover{
    overflow: visible;
    background-color: #813f8b;
    border-radius: 8px;
    color: #ffff69db;
    text-shadow: 1px 1px black;
  }

  /* img{
    align-self: center;
    padding-top: 5px;
    margin: auto;
    max-height: 100px;
    max-width: auto;
    
  } */

  .flag{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    max-height: 100px;
    width: 60%;
  }

  .card a{
    text-decoration: none;
  }
  