.pagination {
    display:inline-block;
    padding-top: 10px;
}

.button {
    border: none;
    color: #FDED2A;
    background-color: #700CBC;
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

.selected{
    border: none;
    background-color: #FDED2A;
    color:#191918;
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    transform: translateY(2px);
}

.button:hover{
    background-color: #9168b0;
    color:#191918;
}

.disabled{
    border: none;
    background-color: #9b81af;
    color:#FDED2A;
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

/* .pagination .button.active{
    background-color: #FDED2A;
    color:#191918;
    transform: translateY(4px);
} */

/* .button:focus{
    background-color: #FDED2A;
    color:#191918;
} */

/* .button a:active{
    background-color: #FDED2A;
    color:#191918;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}