.pagination {
    display:inline-block;
    padding-top: 10px;
}

.button {
    border: none;
    color: #ffff69db;
    background-color: #813f8b;
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    text-shadow: 1px 1px black;
}

.selected{
    border: none;
    background-color: #FDED2A;
    color:#191918;
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    transform: translateY(2px);
}

.button:hover{
    background-color: #9168b0;
    color:#191918;
    text-shadow: none;
}

.disabled{
    border: none;
    background-color: #9b81af;
    color:#FDED2A;
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}